body {
	background-color: #F8F8FF;
	color: 	#1f385e;
	font-family: arimo;
	font-size: 140%;
}

nav a {
	color:#1f385e;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 0px;
}

.active {
	border-bottom: 5px solid #0E2445;
	border-radius: 5px;
}

nav a:hover {
	position: static;
	background-color: #1f385e;
	border-radius: 10px;
	box-shadow: 3px 3px #888888;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #F8F8FF;
	
}

nav ul{	
	text-align: center;	
	word-spacing: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

nav li {
	display: inline;
	font-size: 20px;
}

nav {
	margin-bottom: -15px;
}

header {
	background-color: #0E2445;
	font-size: 25px;
}

header img {
	float: left;
	overflow: auto;
}

h1 {
	color: #F8F8FF;
	text-align: center;
}

iframe {
	text-align: center;
}

table{
	border: 2px solid #1f385e;
	border-collapse: collapse; 
	width: 500px;
}

td, th {
	border: 1px solid #1f385e;
	padding: 0.5em;
	text-align: left;
}

#wrapper {
	margin-left: 60px;
	margin-right: 60px;
	padding: 20px;
}

main {
	margin: -40px;
}

main p {
	margin-left: 1em;
}

figure {
	text-align: center;
}

.float {
	float: right;
	margin-left: 50px;
}

.clearfix {
	clear: left;
	display: inline;
}

.validation {
	background-color: #E8E8ED;
	text-align: center;
	color: #1F3882;
	border-radius: 5px;
}

#aligncenter
{
	text-align: center;
}

 a {
	text-decoration: none;
	color: 	#2f60aa;
}

form {
	background-color: #E8E8ED;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px #888888;
}

label {
	float: left;
	width: 100px;
	clear: left;
	text-align: right;
	padding-right: 10px;
}

input, textarea {
	margin-top: 5px;
	display: block;
	border-radius: 5px;
	border: 2px solid #a8a3a3;
}

input {
	width: 25%;
	height: 25px;
}

#mysubmit {
	margin-left: 400px;
	color:  #F8F8FF;
	background-color: #0E2445;
	border-color:   #F8F8FF;
	width: 70px;
}

#alignCenter {
	text-align: center;
}
footer {
	font-size: 85%;
	margin: 35px;
}
